body,ul,li,a,span,img,h1,h2,h3,h4,h5,p,em,dl,dt,dd{
	padding: 0;
	margin: 0;
	font-family: '宋体';
	font-size: 14px;
	color: #000000;
}
em{
	font-style: normal;
}
h1,h2,h3,h4,h5{
	font-weight: normal;
}
img{
	display: block;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix::after{
	content: '';
	display: block;
	clear: both;
}
body{
	background-color: #D9E0E5;
}
.gywidth{
	width: 947px;
	margin-left: auto;
	margin-right: auto;
}
/* ------------------------------   头部开始         ------------------------------ */

/* ------------------------------    左区块       -----------------------------------------*/
#header{
	border-top: 6px solid #CF0000;
	background-color: #fff;
}
#h_neirong{
	padding-top: 24px;
}
.h_l_t h1{
	font-size: 39px;
	vertical-align: middle;
	padding-left: 20px;
	padding-bottom: 2px;
}
.h_l_b{
	width: 486px;
	height: 42px;
	border-left: 2px solid #DEDEDE;
	margin-bottom: 39px;
	margin-left: 58px;
}
.h_l_b p{
  padding-left: 20px;
}
.h_l_b p a{
	font-family: '微软雅黑';
	font-size: 13px;
	color: #2E2E2E;
}

/* ------------------------------    右区块       -----------------------------------------*/

.h_r a,.h_r span{
	display: inline-block;
	height: 48px;
	line-height: 48px;
	font-size: 12px;
	color: #858585;
}
.h_r span{
	padding-left: 10px;
	padding-right: 8px;
}
.dianhua{
	font-size: 17px;
  color: #858585;
  font-family: '微软雅黑';
  clear: right;
}
/* ------------------------------   头部结束        -------------------------------  */
/* ------------------------------   导航开始       ----------------------------------- */
#nav{
	background-color: #F4F4F4;
}
#nav a{
	display: inline-block;
	font-size: 18px;
	color: #131313;
	height: 48px;
	line-height: 52px;
	margin: 0 25px 14px;
	font-family: '微软雅黑';
}
#nav .act,#nav a:hover{
	color: #D55151;
	border-bottom: 2px solid #D11F2D;
}
/* ------------------------------   导航结束       ----------------------------------- */
/* ------------------------------    banner开始              ------------------------------------- */
#banner{
	background: url('../image/banner.png') no-repeat;
	height: 435px;
	background-size: 100% 100%;
}
/* ------------------------------    banner结束              ------------------------------------- */
/* ------------------------------    内容区开始   -------------------------------------------- */
/*  -------------------------------main1  ----------------------------*/
#m1_neirong,#m2_neirong,#m3_neirong,#m4_neirong,#m5_neirong{
padding-left: 53px;
}
#main1{
	background-color: #F0F0F0;
}
#m1_neirong{
	padding-top: 31px;
	padding-bottom: 20px;
}
.biaoti h2{
	padding-left: 19px;
  height: 38px;
  line-height: 38px;
  font-family: '微软雅黑';
  font-size: 36px;
  border-left: 7px solid #EA5413;
}
.biaoti h2 em{
	font-size: 24px;
	color: #6B6B6B;
	font-family: '微软雅黑';
	padding-left: 9px;
}
.m1_l{
	width: 282px;
	margin-top: 32px;
}

.m1_r{
	padding-right: 46px;
	margin-top: 26px;
}
.anniu .teb,.anniu .act{
	padding-bottom: 14px;
}
.anniu{
	position: relative;
}
.anniu .act span,.anniu:hover span{
	display: inline-block;
	text-align: center;
	box-shadow: 2px 0 4px #fff;
	border-radius: 50%;
	background-color:#6B6B6B;
	font-size: 24px;
	color: #fff;
	width: 43px;
	height: 43px;
	line-height: 43px;
	position: relative;
	position: 0.35s;
}
.anniu span{
	display: inline-block;
	text-align: center;
	box-shadow: 2px 0 4px #fff;
	border-radius: 50%;
	background-color: #FF0000;
	font-size: 24px;
	color: #fff;
	width: 43px;
	height: 43px;
	line-height: 43px;
	position: relative;
}	
.anniu .act a,.anniu:hover a{
	display: inline-block;
	width: 209px;
	height: 37px;
	line-height: 37px;
	font-size: 20px;
	color: #fff;
	background-color: #FF0000;
	margin-left: -20px;
	padding-left: 40px;
	border-top-right-radius: 17px;
	border-bottom-right-radius: 17px;
	transition: 0.35s;
}
.anniu a{
	display: inline-block;
	width: 209px;
	height: 37px;
	line-height: 37px;
	font-size: 20px;
	color: #fff;
	background-color: #6B6B6B;
	margin-left: -20px;
	padding-left: 40px;
	border-top-right-radius: 17px;
	border-bottom-right-radius: 17px;
}
.anniu .cur,.anniu:hover .jianjie{
	display: block;
}
.jianjie,.cur{
	width: 834px;
	height: 129px;
	border: 1px solid #BFBFBF;
	background: rgba(255,255,255,.7);
	padding: 22px 28px 27px;
	position: relative;
	margin-bottom: 17px;
	border-radius: 5px;
	display: none;
	line-height: 24px;
	 text-indent: 2em;
	position: 0.3s;
}
.xiaosanjiao{
	position: absolute;
	left: 20px;top: -9px;
}
/* ---------------------------    mian2  ---------------------------- */
#main2{
	background: url('../image/m2bg.png') no-repeat;
	background-size: 100% 100%;
	height: 510px;
}
#m2_neirong{
	padding-top: 35px;
}
.zhanshi{
	margin-bottom: 5px;
	width: 732px;
	height: 287px;
	background-color: #000000;
	margin: 42px auto;
	padding-left: 95px;
	padding-top: 61px;
}
.wangzhan li{
position: relative;
padding-right: 44px;
padding-bottom: 34px;
}
.wangzhan li:hover .wzjj{
	display: block;
}
.wzjj{
	display: none;
}
.wzjj{
	width: 336px;
	height: 88px;
	background-color: #fff;
	padding: 19px 14px;
	border-radius: 4px;
	position: absolute;
	top: -150px;right: -214px;
	border: 1px solid #CBD4DC;
}
.wzjj h3{
	font-size: 16px;
	font-family: '微软雅黑';
	color: #668EB1;
	padding-bottom: 5px;
}
.wzjj p{
	color: #616161;
	line-height: 18px;
}
.xiaosanjiao2{
	position: absolute;
	left: 117px;
	bottom: -25px;
}
/* --------------------------------      main3  ------------------------------ */
#main3{
	background-color: #4A4A4A;
	height: 500px;
}
#m3_neirong{
	background: url('../image/m3bg.png') no-repeat;
	height: 500px;
	padding-top: 33px;
}
.m3_l{
	padding-left: 118px;
}
.m3_l .teb{
	width: 303px;
	text-align: center;
}
.m3_l .teb li{
 margin-top: 20px;
 padding: 11px 15px;
}
.m3_l .teb li:hover{
	padding: 11px 15px;
	background-color: #E0DDDD;
}
.anniu3{
	margin-left: auto;
	margin-right: auto;
}
.m3_r{
 padding-left: 16px;
}
.ysjj{
	width: 405px;
	height: 361px;
	background-color: #CCC7C7;
  position: relative;
  padding-left: 32px;
  padding-right: 28px;
  padding-top: 20px;
}
.ysjj span{
	position: absolute;
	top: 60px;left: -19px;
	width: 0;
	height: 0;
	border: 10px solid;
	border-color: transparent #CCC7C7 transparent transparent;
}
.ysjj img{
	margin-bottom: 6px;
	margin-right: 20px;
	float: left;
}
.ysjj .p3{
	line-height: 24px;
}
.ysjj .p4{
	text-indent: 2em;
	line-height: 24px;
}
/* ---------------------------------- main4 ----------------------------- */
#main4{
	background: url('../image/m4bg.png') repeat-x;
	background-size: 100% 100%;
	height: 493px;
}
#m4_neirong{
	padding-top: 37px;
}
.wxh{
	width: 188px;
	background-color: #20939C;
	text-align: center;
	border-radius: 7px;
	margin-top: 10px;
}
.wxh h3{
	color: #fff;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
}
.wxh h4{
	font-size: 16px;
	line-height: 16px;
	color: #fff;
	padding-bottom: 8px;
}
.xmt{
	margin-top: 53px;
	width: 190px;
	height: 255px;
	margin-right: 33px;
	position: relative;
	cursor: pointer;
}
.xmt:hover .wxhjj{
	display: block;
}
.xmt .wxhjj{
	width: 319px;
	background-color: #DCDCDC;
	position: absolute;
	left: 200px;top: 2px;
  z-index: 10;
}
.xmt .wxhjj{
	display: none;
}
.xmt .wxhjj p{
	padding: 21px 22px 47px 19px;
	line-height: 24px;
	color: #212121;
}
.xmt .wxhjj span{
	position: absolute;
	left: -14px;top: 34px;
	width: 0;
	height: 0;
	border: 8px solid;
	border-color: transparent #DCDCDC transparent transparent;
}
/* ---------------------------------   main5         ------------------------------- */
#main5{
	background: url('../image/m5bg.png') repeat-x;
	height: 536px;
}
#m5_neirong{
	padding-top: 38px;
}
#m5_neirong .biaoti h2{
	color: #FFFFFF;
}
#m5_neirong .biaoti h2 em{
	color: #fff;
}
.m5_l,.m5_r{
	padding-top: 50px;
	margin-left: 42px;
}
.m5_r{
	width: 706px;
}
.m5_r h3{
	font-size: 18px;
	color: #FFFFFF;
	line-height: 18px;
	padding-bottom: 19px;
}
.m5_r p{
	color: #FFFFFF;
	line-height: 24px;
	text-indent: 2em;
}
/* ------------------------------   main6             -------------------------------------------------------- */
#main6{
	background-color: #D9E0E5;
}
#m6_neirong h2{
	color: #364245;
	font-size: 32px;
}
#zdjg{
	padding-top: 25px;
}
#fzjg{
	padding-top: 24px;
}
h5{
	width: 126px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	background-color: #FFFFFF;
 border-radius: 4px;
}
.m6_r{
	margin-left: 33px;
}
.jg1,.jg2{
	width: 331px;
	height: 72px;
	background-color: #FFFFFF;
	padding-left: 22px;
	padding-top: 5px;
	margin-right: 22px;
	border-radius: 6px;
}
.picter{
	margin-right: 17px;
}
.jg1 .p1,.jg2 .p1{
	height: 36px;
	line-height: 36px;
}
.box1{
	padding-top: 18px;
}
.box2,.box3{
	padding-top: 14px;
}
.wangzhan{
	margin-right: 32px;
}
.hzqy{
	position: relative;
	padding-top: 15px;
	padding-left: 38px;
	width: 428px;
	height: 112px;
	background-color: #fff;
}
.xiaosanjiao6{
	position: absolute;
	top: 13px;left: -16px;
}
.hzqy a{
	line-height: 24px;
}
.ditu{
	padding-top: 56px;
}
dt::after{
	content: ':';
	clear: both;
}
dt,dd{
	font-size: 12px;
}
dt{
	padding-top: 16px;
	padding-bottom: 6px;
}
dd{
	padding-bottom: 12px;
}
.dizhi .top{
	margin-top: 11px;
	height: 30px;
	line-height: 30px;
	background-color: #262627;
	width: 390px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.dizhi .top h4{
	font-size: 14px;
	color: #fff;
	padding-left: 16px;
}
.dizhi .top .gengduo{
 padding-top: 4px;
 padding-right: 15px;
}
.dizhi .bottom{
	background-color: #F2F2F2;
	width: 346px;
 padding: 0 23px 10px;
 margin-bottom: 12px;
}
dl{
	border-bottom: 1px dashed #979797;
}
.zongbu{
	width: 352px;
	padding:14px 20px 21px;
	background-color: #F2F2F2;
	margin-bottom: 24px;
}
.zongbu li{
 line-height: 24px;
}
/* -----------------------------    内容区 结束  -------------------------------------------- */
/* -------------------------------  foooter  开始-------------------------------------------- */
#footer{
	background-color: #000000;
	text-align: center;
	height: 93px;
}
#footer p{
	padding-top: 19px;
	line-height: 12px;
}
#footer p a{
	font-size: 12px;
	color: #FFFFFF;
}

/* -------------------------------  foooter   结束-------------------------------------------- */